Flask==1.1.2
nltk==3.5
~umpy==1.18.5
spacy==3.0.5
tqdm==4.47.0
pandas==1.0.5
~atplotlib==3.2.2
pytorch_transformers==1.2.0
transformers==3.5.0
torch==1.4.0
ujson==1.35
Flask_Cors==3.0.10
apex==0.9.10dev
matplotlib==3.4.1
numpy==1.20.2
ptvsd==4.3.2
scikit_learn==0.24.1
tensorboardX==2.2
